version: '3.8'

services:
  nestjs-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestjs_app_s2
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    networks:
      - app-network


  redis:
    image: redis:7 
    container_name: redis_s2
    networks:
      - app-network

  # 3. Dịch vụ NGINX (MỚI)
  nginx:
    image: nginx:alpine
    container_name: nginx_gateway
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - nestjs-app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge